
<ul class="pantry-items">
  <li class="create-new">
    <form {{action createNewItem newTitle on="submit"}}>
      {{input type="text" value=newTitle classNames="title"}}
      <input type="submit" value="Create" />
    </form>
  </li>

  {{#each item in controller}}
    <li>
      {{input type="text"
             value=item.title
        classNames="title"}}

      <div class="quantity">
        <button {{action decrementQuantity item}}>-</button>
        {{item.quantity}}
        <button {{action incrementQuantity item}}>+</button>
      </div>
    </li>
  {{/each}}

</ul>

